body {
  margin: 0;
  font-family: Helvetica, Sans-Serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  background-color: #1f2937;
  color: #f9f1f8;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.headerLinks,
p {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.splash {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 40px 100px;
  gap: 75px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9f1f8;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 10px;
  width: 100px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #2972e7;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.rightSplash {
  display: flex;
  align-items: stretch;
}

.rightSplash img {
  width: 450px;
  height: auto;
  text-align: center;
  align-self: center;
}

h2 {
  text-align: center;
}

.projectScreen {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 100px;
  gap: 40px;
}

.project {
  display: flex;
  justify-content: center;
  padding: 0px 100px;
  padding-bottom: 80px;
  gap: 20px;
}

.project img {
  width: 200px;
  height: auto;
  border: 1px solid blue;
  border-radius: 5px;
}

.project p {
  color: #3a424e;
  text-align: center;
  font-size: 18px;
}

.project a {
  color: #3a424e;
}

.singleProject {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quoteSection {
  display: flex;
  flex-direction: column;
  padding: 100px 100px;
  gap: 20px;
  text-align: center;
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
}

.author {
  font-weight: bold;
  align-self: center;
}

.footer {
  padding: 40px 100px;
  background-color: #1f2937;
  text-align: center;
  color: #f9f1f8;
}

.callToAction {
  background-color: white;
  padding: 80px 200px;
}

.innerCTA {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CTAText {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 5px;
}

.innerCTA button {
  border: 1px solid white;
}

.CTAText h3 {
  margin: 0;
  padding: 0;
}

.CTAText p {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

.footer a:hover {
  text-decoration: underline;
}
